.navbar-light .navbar-nav .nav-link
{
    color: var(--secoundry-color);
}
.navbar-light .navbar-nav .nav-link.active-link
{
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: bold;
}
