<h1>Welcome to Mumbai University</h1>
<img src="../../../assets/images/Home_page.jpeg" alt="">
<h5>UNIVERSITY OF MUMBAI</h5>
<h6>INSTITUTE OF DISTANCE AND OPEN LEARNING (IDOL)</h6>
<p>(All Programmes Approved by Distance Education Council, New Delhi vide letter no.F.No. DEC /Univ / State/07/5620,dated 3-9-07)</p>
<br>
<p>The introduction of Correspondence Courses in the Mumbai University, in the year 1971-72,Was primarily for the benefit of students who. Would have otherwise been deprived of the access to higher education. The Annual Report of the University for the year 1970-71, submitted by the Syndicate to the Senate, states as follows."Correspondence Courses. The Syndicate at their meeting held on 26th September, 1970, considered proposal made by Shri A. N. Namjoshi, a member of the Syndicate, that the possibility of introducing</p>
<br>
<p>Correspondence Courses and External Degree Courses in the University for the benefit of a large number of Students who cannot avail themselves of the facilities of Morning/Evening classes, be explored. The suggestion was referred by the Syndicate to the Academic Council and the Council appointed a committee to consider it.</p>
<br>
<p>The Academic Council, at its meeting held on 24th March, 1971, approved the report of its Committee and recommended to the Syndicate, inter alia, as under:</p>
<p>1. that Correspondence Courses in the Faculties of Arts and Commerce, with English as the medium of correspondence, instruction and examination, be started from June, 1971 for the First Year Arts and Commerce examinations and progressively thereafter up to the graduate level;</p>
<p>2. that enrolment be restricted to persons residing within the University area viz. Greater Bombay;</p>
<p>3.that eligibility requirements, the curricular content, the mode of examination and the Degree to be awarded be the same as for the regular day student of the University;

    The recommendation has been accepted by the Syndicate"
    
    The Correspondence Courses were, then introduced in the University with a nomenclature as "The Directorate of Correspondence Courses" for which correspondence instructions were to be given at the First Year Arts and First Year Commerce Examination to be held in the first half of the year 1972. Initially, it started with the meager registration of 845 students which has grown up to a staggering figure of about 69,792 students in the year 2008 2009
    
    Principal A. N. Kothare was the first Hon. Director of the Directorate. Through his devotion and dedication, he nurtured and nourished the infant institution to lay down a strong formation. We record our deep sense of gratitude for the devotion of the founder Director in giving shape and direction to the Correspondence Courses of the University.
    
    The Directorate of Correspondence Courses was up-graded as 'Directorate of Distance Education', in the year 1985. Dr. Kishore Valecha was the first full-time Director appointed by the University.With the up-gradation, the jurisdiction of Directorate was extended to cover the entire country. Earlier, the enrolment was restricted to persons residing within the University area. With the extended jurisdiction, enrollment showed a rising trend. Dr. Valecha endeavored to bring about improvement and reforms in accordance with the recommendations of the U.G.C. He did achieve a measurable success.</p>
    <br>
    <p>A notification was issued by the Registrar on 2nd June 1993 which read as follows.

        It is hereby notified that, consequent upon assent accorded by the Chancellor to the Statute 504, A to G. The Directorate of Distance Education has been hereby designated as theInstitute of Distance Education with immediate effect.</p>
        <p>With this notification, the institute acquired an independent status and it was no more a part of Registrar's office. The pioneering work for granting an independent status to the institute was undertaken during the tenure of Dr. (Ms.) M. D. Bangalee then Vice-Chancellor of the University.</p>
        <p>She was assisted in the job by Prin. G. L. Abhyankar and Shri. M. N. Kane.</p>
        <p>Courses and Enrolment </p>
        <p>The Courses for Correspondence Study and examinations at B.A./B. Com. level were introduced from 1971-72. Subsequently, after gaining Confidence and to help the 'Correspondence' students to further persue their studies, post-graduate Courses viz M.A./M.Com./M.Sc. (Maths)/D.F.M. & D.O.R.M. were introduced from the year 1975-76. Thereafter, considering the need of teachers by the colleges of education, post-graduate course viz. M. Ed. was started from the year 1990-91.</p>
        <p>The IDE has now entered in the arena of IT & Nautical Technology Courses by the distance mode.We have introduced five IT courses (B.Sc.IT/Computer Science,M.Sc.IT/Computer Science & MCA ) & B.Sc.Nautical Technology course from the academic year 2005-2006

            The IDE has started the MA (Education ) course from 2006 - 2007.</p>
            <p>The Institute is now renamed as Institute of Distance & Open Learning with effect from 13th February 2009. With this the Institute will be more Open and flexible in its approach.

                We also intend to start courses in the field of MMS, Bachelor of Preparatory Programme (BPP),LLM, B.Ed in due Course of time for the benefit of the students.</p>