<style>
    h1 {

        background-color: rgb(78, 78, 247);
        text-align: center;
        text-decoration: none;
    }

    h3 {

        background-color: rgb(78, 78, 247);
        text-align: center;
        text-decoration: none;

    }
</style>
<h1>Welcome to Feedback form</h1>

<h3>Kindly give feedback about Practical’s</h3>

<form action="Feedback">

    <div class="date">
        <label for="Feedback_Date">Feedback Date</label>
        <input type="date" id="feedbackdate" name="feedbackdate">

    </div>


    <div class="forms">
        <p>a) Adequate time is provided for questions & discussion and also for clearing doubts</p>
          <input type="radio" id="1" name="feedback1" value="1">
          <label for="1">1</label>
          <input type="radio" id="2" name="feedback1" value="2">
          <label for="2">2</label>
          <input type="radio" id="3" name="feedback1" value="3">
          <label for="3">3</label>
          <input type="radio" id="4" name="feedback1" value="4">
          <label for="4">4</label>
          <input type="radio" id="5" name="feedback1" value="5">
          <label for="5">5</label>
    </div>

    <div class="forms">
        <p>b) Practical’s are conducted regularly and on time</p>
          <input type="radio" id="1" name="feedback2" value="1">
          <label for="1">1</label>
          <input type="radio" id="2" name="feedback2" value="2">
          <label for="2">2</label>
          <input type="radio" id="3" name="feedback2" value="3">
          <label for="3">3</label>
          <input type="radio" id="4" name="feedback2" value="4">
          <label for="4">4</label>
          <input type="radio" id="5" name="feedback2" value="5">
          <label for="5">5</label>
    </div>

    <div class="forms">
        <p>c) Faculty demonstrate the use of tools & equipment to conduct practical</p>
          <input type="radio" id="1" name="feedback3" value="1">
          <label for="1">1</label>
          <input type="radio" id="2" name="feedback3" value="2">
          <label for="2">2</label>
          <input type="radio" id="3" name="feedback3" value="3">
          <label for="3">3</label>
          <input type="radio" id="4" name="feedback3" value="4">
          <label for="4">4</label>
          <input type="radio" id="5" name="feedback3" value="5">
          <label for="5">5</label>
    </div>

    <div class="forms">
        <p>d) The centre and labs / workshop are hygiene and safe</p>
          <input type="radio" id="1" name="feedback4" value="1">
          <label for="1">1</label>
          <input type="radio" id="2" name="feedback4" value="2">
          <label for="2">2</label>
          <input type="radio" id="3" name="feedback4" value="3">
          <label for="3">3</label>
          <input type="radio" id="4" name="feedback4" value="4">
          <label for="4">4</label>
          <input type="radio" id="5" name="feedback4" value="5">
          <label for="5">5</label>
    </div>

    <div class="forms">
        <p>e) The topics mentioned in the course outline are taught in the class</p>
          <input type="radio" id="1" name="feedback5" value="1">
          <label for="1">1</label>
          <input type="radio" id="2" name="feedback5" value="2">
          <label for="2">2</label>
          <input type="radio" id="3" name="feedback5" value="3">
          <label for="3">3</label>
          <input type="radio" id="4" name="feedback5" value="4">
          <label for="4">4</label>
          <input type="radio" id="5" name="feedback5" value="5">
          <label for="5">5</label>

        <br>
        <br>

        <input type="submit">

    </div>

</form>